<!--{hook admin_footer_start.htm}-->

<?php $db = GLOBALS('db');?>
<?php $time = GLOBALS('time');?>
<?php $ip = GLOBALS('ip');?>
<?php $useragent = GLOBALS('useragent');?>
<?php $starttime = GLOBALS('starttime');?>
<?php $forumlist = GLOBALS('forumlist');?>
<?php $forumarr = GLOBALS('forumarr');?>
<?php $fid = GLOBALS('fid');?>
<?php $conf = GLOBALS('conf');?>
<?php $config = GLOBALS('config');?>
<?php $static_version = $conf['static_version'];?>
<?php echo xn_debug_info();?>

            </div>
            <!-- End of Main Body -->

        <!-- Footer -->
        <footer class="my-3 small">
            <div class="container-fluid d-flex justify-content-between">
                <div>
                    Powered&nbsp;by&nbsp;<a href="http://www.wellcms.cn" target="_blank"><b>WellCMS</b></a>
                </div>
                <div>
                    <!--{hook admin_footer_footer_right_start.htm}-->
                    Time: <b><?php echo substr(microtime(1) - $starttime, 0, 5);?></b>,&nbsp;SQL:&nbsp;<b><?php echo count($db->sqls);?></b>
                    <!--{hook admin_footer_footer_right_end.htm}-->
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="javascript:void(0);">
    <i class="icon-angle-up"></i>
</a>
<!-- Scroll to bottom Button-->
<a class="scroll-to-bottom rounded" href="javascript:void(0);" style="display: inline;">
    <i class="icon-angle-down"></i>
</a>

<!--{hook admin_footer_footer_after.htm}-->

<!--[if lt IE 9]>
<script>window.location = '<?php echo url('browser');?>';</script>
<![endif]-->
	
<!--{hook admin_footer_js_before.htm}-->

<script src="../lang/<?php echo $conf['lang'];?>/lang.js<?php echo $static_version;?>"></script>
<script src="<?php echo admin_view_path();?>js/jquery.min.js<?php echo $static_version;?>"></script>
<script src="<?php echo admin_view_path();?>js/popper.min.js<?php echo $static_version;?>"></script>
<script src="<?php echo admin_view_path();?>js/bootstrap.min.js<?php echo $static_version;?>"></script>
<script src="<?php echo admin_view_path();?>js/xiuno.js<?php echo $static_version;?>"></script>
<script src="<?php echo admin_view_path();?>js/bootstrap-plugin.js<?php echo $static_version;?>"></script>
<script src="<?php echo admin_view_path();?>js/async.min.js<?php echo $static_version;?>"></script>
<script src="<?php echo admin_view_path();?>js/form.js<?php echo $static_version;?>"></script>
<script>
	var debug = DEBUG = <?php echo DEBUG; ?>;
    var fid = <?php echo $fid;?>;
	var url_rewrite_on = <?php echo $conf['url_rewrite_on'];?>;
	var url_access = true;
    var url_path = '<?php echo $conf['path'];?>';
    xn.options.water_image_url = '<?php echo admin_view_path(),$conf['logo_water_url'];?>';
</script>
<script src="<?php echo admin_view_path();?>js/wellcms.js<?php echo $static_version;?>"></script>
<script>
    $(function () {
        if (url_rewrite_on < 2) {
            $('body .avatar-1, body .avatar-2, body .avatar-3').each(function() {
                var jthis = $(this);
                var src = jthis.attr('src');
                var n = xn.strpos(src, 'view/');
                if (-1 === n) n = xn.strpos(src, 'upload/');
                var s = xn.substr(src, n, src.length);
                jthis.attr('src', '../' + s);
            });
        }
    });
</script>

<!--{hook admin_footer_js_after.htm}-->
	
</body>
</html>

<!--{hook admin_footer_end.htm}-->