<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
                        <?php foreach($pluginlist as $dir=>$theme) {?>
                        <div class="col-lg-2 col-md-3 col-6">
                            <a data-modal-title="<?php echo $theme['name'];?>" data-modal-size="lg" href="<?php echo url('plugin-read', array('dir'=>$dir), TRUE);?>">
                                <img src="<?php echo $theme['icon'];?>" class="img-thumbnail mx-auto d-block" alt="<?php echo $theme['name'];?>">
                                <div class="text-center py-1">
                                    <?php echo $theme['name'];?>
                                </div>
                            </a>
                            <div class="text-center py-1">
                                <?php if(0==$theme['installed']) { ?>
                                <a role="button" class="btn btn-success btn-sm install" data-href="<?php echo url('plugin-theme', array('dir'=>$dir,'type'=>1), TRUE);?>" href="javascript:void(0);"><?php echo lang('install');?></a>
                                <?php } ?>
                                <?php if(1==$theme['installed']) { ?>
                                <a role="button" class="btn btn-danger btn-sm uninstall" data-href="<?php echo url('plugin-theme', array('dir'=>$dir,'type'=>0), TRUE);?>" href="javascript:void(0);"><?php echo lang('uninstall');?></a>
                                <?php } ?>
                            </div>
                        </div>
                        <?php }?>
					</div>
				</div>
			</div>

			<?php if($pagination) { ?> <nav><ul class="pagination justify-content-center"><?php echo $pagination; ?></ul></nav> <?php } ?>

		</div>
	</div>
</div>

<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>

<script>
$('#plugin').addClass('show');
$('li.plugin, .menu-theme').addClass('active').find('a').removeClass('collapsed');
</script>