<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<!--{hook admin_content_start.htm}-->
<div class="container px-0">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <?php if ($type == 0 || $type == 2) { ?>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-center">
                                <?php echo lang('current_version').' : '.$config['version'];?>
                            </p>
                            <p class="text-center">
                                <?php echo lang('official_version').' : '.$config['official_version'];?>
                            </p>

                            <?php echo '<hr>',array_value($official, 'message', 'Nothing message'),'<hr>'; ?>

                            <p class="text-center font-weight-bold">
                                <?php if ($type == 0) { ?>
                                <?php if ($upgrade) { ?>
                                <button class="btn btn-danger btn-lock col-md-2 mx-auto" id="upgrade"><?php echo lang('online_upgrade');?></button>
                                <?php } else {echo lang('no_upgrade_required');} ?>
                                <?php } ?>

                                <?php if ($type == 2) {echo lang('upgrade_successfully');} ?>
                            </p>
                        </div>
                    </div>
                    <?php } ?>

                    <?php if ($type == 1) { ?>
                    <p class="text-center font-weight-bold">
                        <?php echo lang('upgrading'); ?>
                    </p>
                    <?php } ?>

                </div>
            </div>
        </div>
    </div>
</div>
<!--{hook admin_content_end.htm}-->

<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>

<script>
    $('#upgrade').on('click', function () {window.location = xn.url('other-upgrade-1');});
    $('#nav li.upgrade').addClass('active').prepend('<div class="arrow-tips float-right d-none d-md-block"></div>');
</script>

<!--{hook admin_content_js.htm}-->