<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>提示信息 / Information</title>
<style type="text/css">
a {color:#d4557f; font-size: 12px; color: black;}
a:hover {color:#a01845}
.main{width:1000px; height:350px; margin:20px auto; background:url(view/img/browser.gif) no-repeat; position:relative}
.pos1{position:absolute; top:300px; left:380px}
.pos2{position:absolute; top:300px; left:570px}
.pos3{position:absolute; top:300px; left:760px}
</style>
</head>
<body>
<div class="main">
	<a class="pos1" href="https://dl.google.com/tag/s/appguid%3D%7B8A69D345-D564-463C-AFF1-A69D9E530F96%7D%26iid%3D%7BC1429151-1C17-A992-9F76-C2550D3CA091%7D%26lang%3Dzh-CN%26browser%3D4%26usagestats%3D1%26appname%3DGoogle%2520Chrome%26needsadmin%3Dprefers%26ap%3Dx64-stable-statsdef_1%26installdataindex%3Dempty/update2/installers/ChromeSetup.exe" target="_blank">下载/Download Chrome</a>
	<a class="pos2" href="https://download-ssl.firefox.com.cn/releases-sha2/stub/official/zh-CN/Firefox-latest.exe" target="_blank">下载/Download Firefox</a>
</div>
<br>
<p style="font-size: 12px; text-align: center; color: #888888;">您的浏览器信息 / Your browser information：<script>document.write(navigator.userAgent);</script></p>
</body>
</html>