<template include="./view/htm/common.template.htm">
	<slot name="nav">
        <!-- nav -->
        <div class="card-header bg-light shadow">
            <div class="nav-scroller">
                <ul class="nav nav-pills small">
                    <?php if(!empty($member_menus)){ ?>
                    <?php foreach ($member_menus as $_member_menu) { ?>
                    <li class="nav-item">
                        <a class="nav-link" href="<?php echo $_member_menu['url'];?>" data-active="<?php echo $_member_menu['active'];?>">
                            <?php echo $_member_menu['name'];?>
                        </a>
                    </li>
                    <?php } ?>
                    <?php } ?>
                </ul>
            </div>
        </div>
	</slot>
</template>