<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<!--{hook flag_start.htm}-->

<div class="row">
	<div class="col-lg-12">
		<!--{hook flag_breadcrumb_before.htm}-->
		<?php if(empty($hide_breadcrumb)) { ?>
		<ol class="breadcrumb d-none d-md-flex text-muted">
			<li class="breadcrumb-item"><a href="./"><i class="icon-home" aria-hidden="true"></i></a></li>
			<li class="breadcrumb-item">
				<a href="<?php echo $header['mobile_link'];?>">
					<?php echo lang('flag');?>
				</a>
			</li>
			<li class="breadcrumb-item">
                <?php echo lang('list');?>
            </li>
			<!--{hook flag_breadcrumb.htm}-->
		</ol>
		<?php } ?>
		<!--{hook flag_breadcrumb_after.htm}-->
		<div class="card card-threadlist">
			<div class="card-body">
				<table class="table table-bordered text-center">
					<tbody>
					<tr>
                        <!--{hook flag_td_flag_before.htm}-->
						<td><?php echo lang('flag');?></td>
                        <!--{hook flag_td_flag_after.htm}-->
						<td><?php echo lang('column');?></td>
                        <!--{hook flag_td_forum_after.htm}-->
						<td class="hidden-sm hidden-md">
                            <?php echo lang('threads');?>
                        </td>
                        <!--{hook flag_td_count_after.htm}-->
						<td class="hidden-sm hidden-md">
                            <?php echo lang('create_date');?>
                        </td>
                        <!--{hook flag_td_date_after.htm}-->
					</tr>
					<?php if(!empty($arrlist)){ foreach($arrlist as $key => &$val) {?>
					<tr class="tap" data-href="<?php echo $val['url']; ?>">
                        <!--{hook flag_list_name_before.htm}-->
                        <td class="break-all">
                            <a href="<?php echo $val['url']; ?>">
                                <?php echo $val['name'];?>
                            </a>
						</td>
                        <!--{hook flag_list_name_after.htm}-->
						<td>
							<a href="<?php echo $val['forum_url']; ?>">
                                <?php echo $val['forum_name'];?>
                            </a>
						</td>
                        <!--{hook flag_list_column_name_after.htm}-->
						<td class="hidden-sm hidden-md">
							<?php echo $val['count'];?>
						</td>
                        <!--{hook flag_list_date_before.htm}-->
						<td class="hidden-sm hidden-md">
							<?php echo $val['create_date_text'];?>
						</td>
                        <!--{hook flag_list_date_after.htm}-->
					</tr>
					<?php }} ?>
					</tbody>
				</table>
			</div>
		</div>

		<!--{hook flag_page_before.htm}-->
		<?php if ($pagination) { ?>
		<nav class="my-3">
            <ul class="pagination justify-content-center flex-wrap">
                <?php echo $pagination; ?>
            </ul>
        </nav>
		<?php } ?>
		<!--{hook flag_page_after.htm}-->
	</div>
</div>

<!--{hook flag_end.htm}-->

<?php include _include(APP_PATH . 'view/htm/footer.inc.htm');?>

<!--{hook flag_js.htm}-->