<template include="./view/htm/common.header.htm">
	<slot name="body">
		<ul class="threadlist list-unstyled bg-white shadow">
			<?php include _include(APP_PATH . 'view/htm/thread_list.inc.htm');?>
		</ul>

        <?php if($allowdelete) { ?>
        <div class="text-center">
            <label class="mr-3">
                <input type="checkbox" data-target='input[name="modtid"]' class="checkall mt-2 mr-2" value="" aria-label="<?php echo lang('checkall');?>" />
                <?php echo lang('checkall');?>
            </label>
            <div class="btn-group mod-button my-3" role="group" aria-label="">
                <!--{hook home_thread_delete_before.htm}-->
                <button class="btn btn-secondary delete" data-modal-url="<?php echo url('operate-delete', $extra);?>" data-modal-title="<?php echo lang('delete');?>" data-modal-arg=".threadlist" data-modal-size="md">
                    <?php echo lang('delete');?>
                </button>
                <!--{hook home_thread_delete_after.htm}-->
            </div>
        </div>
        <?php } ?>

		<?php if ($pagination) { ?>
		<nav class="my-3">
            <ul class="pagination justify-content-center flex-wrap">
                <?php echo $pagination; ?>
            </ul>
        </nav>
		<?php } ?>
	</slot>
</template>

<script>
    $('a[data-active="my-article"]').addClass('active');
    $('a[data-active="menu-home"]').addClass('active');
</script>