<template include="./view/htm/common.header.htm">
	<slot name="body">
        <div class="card-body bg-white px-0">
            <!--{hook my_profile_start.htm}-->
            <div class="row line-height-4 m-0">
                <div class="col-md-6">
                    <span class="text-muted">
                        <?php echo lang('article');?>：
                    </span>
                    <?php echo $user['articles'];?>
                    <br>
                    <span class="text-muted">
                        <?php echo lang('comment');?>：
                    </span>
                    <?php echo $user['comments'];?>
                    <!--{hook my_profile_comments_after.htm}-->
                </div>
                <div class="col-md-6">
                    <span class="text-muted">
                        <?php echo lang('user_group');?>：
                    </span>
                    <?php echo $user['groupname'];?>
                    <br>
                    <span class="text-muted">
                        <?php echo lang('create_date');?>：
                    </span>
                    <?php echo $user['create_date_fmt'];?>
                    <br>
                    <span class="text-muted">
                        <?php echo lang('last_login_date');?>：
                    </span>
                    <?php echo $user['login_date_fmt'];?>
                    <br>
                    <span class="text-danger">
                        <?php echo lang('email');?>：
                    </span>
                    <?php echo $user['email'];?>
                    <!--{hook my_profile_login_date_after.htm}-->
                </div>
            </div>
            <!--{hook my_profile_end.htm}-->
        </div>
    </slot>
</template>

<script>
    $('a[data-active="my-profile"], a[data-active="menu-my"]').addClass('active');
</script>
<!--{hook my_profile_js.htm}-->