<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<!--{hook tag_list_start.htm}-->

<div class="row">
	<div class="col-lg-12">
		<div class="content mr-3">
			<div class="d-flex justify-content-between">
				<ol class="breadcrumb col">
					<li class="breadcrumb-item"><a href="./"><i class="icon-home" aria-hidden="true"></i></a></li>
					<li class="breadcrumb-item">
						<a href="<?php echo $header['mobile_link'];?>">
							<?php echo lang('well_tag');?>
						</a>
					</li>
					<li class="breadcrumb-item">
						<?php echo lang('list');?>
					</li>
					<!--{hook tag_list_breadcrumb_li.htm}-->
				</ol>
				<!--{hook tag_list_breadcrumb_ol.htm}-->
			</div>

			<ul class="row list-unstyled mb-0">
				<?php if($taglist){foreach ($taglist as &$_tag){ ?>
				<li class="col-md-3 tap" data-href="<?php echo url('tag-' . $_tag['tagid']);?>">
					<div class="card">
						<div class="card-body">
							<ul class="list-unstyled d-flex justify-content-between">
								<li>
                                    <h2 class="mb-0 size1">
                                        <a href="<?php echo url('tag-' . $_tag['tagid']);?>">
                                            <strong>
                                                <?php echo $_tag['name'];?>
                                            </strong>
                                        </a>
                                    </h2>
								</li>
								<li>
									<?php echo lang('threads');?>：<?php echo $_tag['count'];?>
								</li>
							</ul>
						</div>
					</div>
				</li>

				<?php }}else{ ?>
				<li class="col-md-12">
                    <?php echo lang('none');?>
                </li>
				<?php } ?>
			</ul>

			<?php if ($pagination) { ?>
			<nav class="my-3">
                <ul class="pagination justify-content-center flex-wrap">
                    <?php echo $pagination; ?>
                </ul>
            </nav>
			<?php } ?>
		</div>
	</div>
</div>

<!--{hook tag_list_end.htm}-->

<?php include _include(APP_PATH . 'view/htm/footer.inc.htm');?>

<!--{hook tag_list_js.htm}-->