<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>
<!--共享文件-->
<!--{hook user_common_start.htm}-->
<div class="container">
    <div class="bg-white py-3 rounded">
        <div class="row">
            <div class="col-lg-8 d-flex align-items-center">
                <div class="position-relative px-3">
                    <img class="avatar-5 rounded mx-auto d-block img-responsive" src="<?php echo $_user['avatar_url'];?>">
                    <!--{hook user_common_avatar_after.htm}-->
                </div>
                <div class="col">
                    <div class="h5">
                        <!--{hook user_common_username_before.htm}-->
                        <?php echo $_user['username'];?>
                        <!--{hook user_common_username_after.htm}-->
                        <small class="text-muted text-break">
                            <!--{hook user_common_rank.htm}-->
                        </small>
                    </div>
                    <div class="text-muted text-break small">
                        <!--{hook user_common_brief.htm}-->
                    </div>
                    <hr class="my-2">
                    <div class="text-muted small">
                        <!--{hook user_common_count_register_before.htm}-->
                        <?php echo lang('register'),'&nbsp;',$_user['create_date_fmt'];?>
                        <!--{hook user_common_count_register_after.htm}-->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 align-self-center small">
                <!--{hook user_common_count_start.htm}-->
                <div class="row text-center">
                    <!--{hook user_common_count_before.htm}-->
                    <div class="col-3">
                        <div>
                            <?php echo lang('thread');?>
                        </div>
                        <div class="font-weight-bold d-inline">
                            <?php echo $_user['articles'];?>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <?php echo lang('comment');?>
                        </div>
                        <div class="font-weight-bold d-inline">
                            <?php echo $_user['comments'];?>
                        </div>
                    </div>
                    <!--{hook user_common_count_comment_after.htm}-->
                </div>
                <!--{hook user_common_count_end.htm}-->
            </div>
        </div>
    </div>
    
    <div class="row mt-3">
        <!-- 左侧内容 -->
        <div class="col-lg-9 main">
            <!--{hook user_common_main_start.htm}-->
            <slot name="nav" />
            <!--{hook user_common_main_center.htm}-->
            <slot name="body" />
            <!--{hook user_common_main_end.htm}-->
        </div>

        <!-- 右侧导航 -->
        <!--移动端-->
        <div class="button-show d-lg-none position-fixed rounded-left bg-secondary d-flex align-items-center nav-block">
            <i class="icon-chevron-left text-white mx-auto"></i>
        </div>
        <div id="nav-show" class="col-lg-3 d-none d-lg-block pr-0 aside">
            <!--移动端-->
            <div class="button-hide d-lg-none position-absolute rounded-left bg-secondary d-flex align-items-center nav-block button-hide">
                <i class="icon-chevron-right text-white mx-auto"></i>
            </div>
            <!--右侧头部-->
            <!--{hook user_common_header_start.htm}-->
            <div class="card-site-info bg-white shadow">
                <!--{hook user_common_site_start.htm}-->
                <div class="mx-3 pt-3">
                    <h5 class="line-height-2 text-center">
                        <?php echo $_user['username'];?>
                    </h5>
                    <!--{hook user_common_sitename_after.htm}-->
                </div>
                <!--{hook user_common_site_before.htm}-->
                <div class="card-footer p-2 text-center">
                    <!--{hook user_common_info_before.htm}-->
                    <div class="text-muted small">
                        <?php echo lang('register'),'&nbsp;',$_user['create_date_fmt'];?>
                    </div>
                    <!--{hook user_common_info_after.htm}-->
                </div>
                <!--{hook user_common_site_end.htm}-->
            </div>
            <!--{hook user_common_header_end.htm}-->

        </div>
    </div>
</div>
<!--{hook user_common_end.htm}-->

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>
<script>
    if ($(document.body).width() < 992) {
        $('#nav-show').css({"position": "fixed", "top": "0", "bottom": "0", "right": "0", "z-index": "1032"});
        $('.nav-block,.button-hide').css("top","45%");
    }
</script>
<!--{hook user_common_js.htm}-->